@charset "UTF-8";
body {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.app {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header .nav .open > a {
  background: transparent;
}

.header.inner {
  position: relative;
}

.header.inner .header__top {
  padding: 0;
}

.header.inner .header__middle {
  background: url("./../image/intro_bg.png") no-repeat 0/cover;
}

.header.inner .header__quick-nav .nav a {
  color: #0078D4;
}

.header.inner .header__quick-nav .nav a .icon svg path {
  fill: #0078D4;
}

.header.inner .header__checkbox .radio label {
  color: #0078D4;
}

.header.inner .header__checkbox .radio label::before {
  border-color: #0078D4;
}

.header.inner .header__checkbox .radio label::after {
  background: #0078D4;
}

.header.inner .header__middle.inner .header__nav .nav li.rounded > a {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
}

.header.inner .header__middle.inner .header__nav .nav li.rounded > a .icon {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header.inner .header__middle.inner .dropdown-menu {
  border-radius: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 0;
  padding-bottom: 0;
}

.header.inner .header__middle.inner .dropdown-menu-title {
  padding: 5px 11px;
  background: #DEECF9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #0078D4;
  font-weight: 600;
}

.header.inner .header__middle.inner .dropdown-menu .dropdown-item {
  width: 100%;
  display: block;
  color: #333333;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 400;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 16px;
  color: #333;
}

.header.inner .header__middle.inner .dropdown-menu .dropdown-item:last-child {
  border-radius: 10px;
}

.header.inner .header__middle.inner .header__nav .nav li {
  padding-right: 20px;
}

.header.inner .header__middle.inner .header__nav .nav li > a {
  border-radius: 50px;
  text-transform: initial;
  font-weight: 400;
  padding: 13px 26px 13px 58px;
  outline: 2px solid #71AFE5;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header.inner .header__middle.inner .header__nav .nav li > a:hover {
  outline: 2px solid #FFB900;
  border: none;
}

.header.inner .header__middle.inner .header__nav .nav li > a:focus {
  background: transparent;
  outline-offset: 0;
}

.header.inner .header__middle.inner .header__nav .nav li > a .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 33px;
}

.header.inner .header__middle.inner .header__nav .nav li > a .icon svg {
  vertical-align: middle;
}

.header__top {
  padding-top: 5px;
  padding-bottom: 4px;
}

.header__middle {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header__logo {
  width: 250px;
  height: 97px;
  display: table;
  float: left;
  text-decoration: none;
}

.header__logo .icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 13px;
}

.header__logo .text {
  display: table-cell;
  vertical-align: middle;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-align: left;
  color: #f8f8f8;
  padding-left: 13px;
  padding-right: 25%;
  margin-left: 13px;
  text-transform: uppercase;
  position: relative;
}

.header__logo .text::before {
  content: '';
  display: block;
  width: 2px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg id='Сгруппировать_9839' data-name='Сгруппировать 9839' xmlns='http://www.w3.org/2000/svg' width='4' height='128' viewBox='0 0 4 128'%3E%3Crect id='Прямоугольник_13502' data-name='Прямоугольник 13502' width='4' height='40' transform='translate(0 0)' fill='%234ba1eb'/%3E%3Crect id='Прямоугольник_13503' data-name='Прямоугольник 13503' width='4' height='40' transform='translate(0 88)' fill='%231da01d'/%3E%3Crect id='Прямоугольник_13504' data-name='Прямоугольник 13504' width='4' height='40' transform='translate(0 44)' fill='%23fff'/%3E%3Crect id='Прямоугольник_13505' data-name='Прямоугольник 13505' width='4' height='4' transform='translate(0 84)' fill='%23e81123'/%3E%3Crect id='Прямоугольник_13506' data-name='Прямоугольник 13506' width='4' height='4' transform='translate(0 40)' fill='%23e81123'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

.header__logo:hover {
  text-decoration: none;
}

.header__nav {
  float: right;
}

.header__nav .nav li {
  height: 97px;
  display: table-cell;
  vertical-align: middle;
  float: none;
  padding-right: 40px;
}

.header__nav .nav li.mobile_button {
  padding-right: 0;
}

.header__nav .nav li.mobile_button button {
  background: transparent;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__nav .nav li.mobile_button button:hover {
  border-color: transparent;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__nav .nav a {
  color: white;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #f8f8f8;
  text-transform: uppercase;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__nav .nav a:hover {
  background: transparent;
  border-color: #FFB900;
}

.header__nav .nav .dropdown-menu {
  border-radius: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% - 20px);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #C7E0F4;
  min-width: 245px;
}

.header__nav .nav .dropdown-menu::before {
  content: '';
  display: block;
  height: 23px;
  width: 23px;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: -26px;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateX(calc(-50% - 12px));
          transform: rotate(-45deg) translateX(calc(-50% - 12px));
  border: 1px solid #C7E0F4;
}

.header__nav .nav a.dropdown-item {
  padding: 11px 16px;
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 18px;
  color: #3C3C3C;
  display: block;
  text-transform: initial;
  white-space: nowrap;
  text-decoration: none;
  background: white;
  position: relative;
  z-index: 2;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__nav .nav a.dropdown-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header__nav .nav a.dropdown-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__nav .nav a.dropdown-item:hover {
  color: #0078D4;
  border-color: transparent;
  font-weight: 600;
}

.header__checkbox {
  float: left;
}

.radio {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}

.radio input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.radio input:checked + label {
  color: white;
}

.radio input:checked + label::before {
  border-color: #FFB900;
}

.radio input:checked + label::after {
  content: '';
  background: #FFB900;
}

.radio label {
  color: white;
  position: relative;
  padding-left: 26px;
}

.radio label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid white;
  border-radius: 50%;
}

.radio label::after {
  content: none;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 4px;
  background: #FFB900;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.header__quick-nav {
  float: right;
}

.header__quick-nav .nav li {
  margin-right: 40px;
}

.header__quick-nav .nav li.dropdown a {
  background: transparent;
}

.header__quick-nav .nav li.dropdown .dropdown-item {
  color: #666;
  padding-left: 30px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 0.25em 0.75em;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__quick-nav .nav li.dropdown .dropdown-item:hover {
  border-bottom: 2px solid #FFB900;
}

.header__quick-nav .nav li.dropdown .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  min-width: auto;
}

.header__quick-nav .nav li.spec_view {
  padding: 10px;
  text-align: center;
  margin-right: 0;
}

.header__quick-nav .nav li.spec_view a:hover {
  border: none;
}

.header__quick-nav .nav li.spec_view.icon {
  position: relative;
}

.header__quick-nav .nav a {
  padding: 10px;
  color: white;
  position: relative;
  padding-left: 30px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #f8f8f8;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__quick-nav .nav a:hover {
  background: transparent;
  border-color: #FFB900;
}

.header__quick-nav .nav a .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.header__quick-nav .nav a .icon svg {
  vertical-align: middle;
}

.header__bottom {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #EAEAEA;
}

.header__bottom .breadcrumb {
  padding-left: 26px;
  float: left;
  margin-bottom: 0;
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 29.406 27.422'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M16-29.422,30.7-14.7,29.3-13.3,28-14.578V-2H18V-12H14V-2H4V-14.578L2.7-13.3,1.3-14.7ZM26-4V-16.578l-10-10-10,10V-4h6V-14h8V-4Z' transform='translate(-1.297 29.422)' fill='%230078d4'/%3E%3C/svg%3E%0A");
  background-position: 0 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.header__bottom .breadcrumb > .active {
  font-weight: 600;
  color: #767676;
}

.header__bottom .breadcrumb a {
  background: none;
  color: #767676;
}

.header__bottom .nav {
  float: right;
}

.header__bottom .nav li {
  margin-right: 15px;
}

.header__bottom .nav li:last-child {
  margin-right: 0;
}

.header__bottom .nav a {
  padding: 3px 15px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #0078d4;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding-left: 0;
  padding-right: 0;
}

.header__bottom .nav a:hover {
  background: transparent;
  border-bottom: 2px solid #FFB900;
}

.header__bottom .nav a svg {
  vertical-align: middle;
}

.mobile__nav {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #2B88D8;
  z-index: 25;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.mobile__nav.show {
  left: 0;
}

.mobile__nav-header {
  padding-top: 14px;
  padding-bottom: 14px;
}

.mobile__nav-header .nav {
  float: right;
}

.mobile__nav-header .nav li {
  display: table-cell;
  float: none;
  padding: 11px 22px;
}

.mobile__nav-header .nav li .btn {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.mobile__nav-header .nav li:hover .btn {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mobile__nav-header::after {
  content: '';
  display: block;
  clear: both;
}

.mobile__nav-header .btn {
  background: transparent;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #f8f8f8;
  padding: 0;
}

.mobile__nav-header .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mobile__nav-header .btn svg {
  vertical-align: middle;
}

.mobile__nav-body {
  padding-left: 126px;
  padding-right: 126px;
  margin: 0 auto;
}

.mobile__nav-body .nav-title {
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 41px;
  text-align: left;
  color: #004578;
}

.mobile__nav-body .nav a {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #f4f4f4;
  padding-left: 0;
  padding-right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.mobile__nav-body .nav a:hover {
  background: transparent;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.mobile__nav-body .nav-with-icon li {
  margin-bottom: 21px;
}

.mobile__nav-body .nav-with-icon a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile__nav-body .nav-with-icon a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.mobile__nav-body .nav-with-icon a .icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mobile__nav-body .nav-link-border {
  padding: 16px 25px 16px 52px;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  border: 2px solid #FFB900;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.mobile__nav-body .nav-link-border:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.mobile__nav-body .nav-link-border .icon {
  position: absolute;
  top: 50%;
  left: 26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mobile__nav-body .nav-link-border .icon svg {
  vertical-align: middle;
}

.footer {
  background: #333333;
  padding-top: 60px;
  padding-bottom: 35px;
}

.footer__nav {
  width: calc(100% + 32px);
}

.footer__nav .nav__item {
  width: 25%;
  float: left;
  padding-right: 32px;
}

.footer__nav .nav__item h1 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: #a6a6a6;
  margin-bottom: 21px;
}

.footer__nav .nav__item .nav-item {
  margin-bottom: 15px;
}

.footer__nav .nav__item .nav-item.icon_place {
  padding-left: 28px;
  background: url("./../image/icon_place.svg") no-repeat 0/11px;
}

.footer__nav .nav__item .nav-item.icon_phone {
  padding-left: 28px;
  background: url("./../image/icon_phone (2).svg") no-repeat 0/18px;
}

.footer__nav .nav__item .nav-item.icon_email {
  padding-left: 28px;
  background: url("./../image/icon_email.svg") no-repeat 0/18px;
}

.footer__nav .nav__item .nav-link {
  padding: 0;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #f4f4f4;
}

.footer__nav .nav__item .nav-link:hover {
  text-decoration: underline;
  background: none;
  color: #c1c1c1;
}

.footer__logo {
  padding-top: 50px;
  padding-bottom: 37px;
}

.footer__bottom {
  color: white;
}

.footer__bottom div:last-of-type {
  margin-right: 0;
}

.footer__bottom .copyright {
  width: calc(100% / 12 * 3);
  float: left;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 16px;
  color: #c8c8c8;
}

.footer__bottom .info {
  width: calc(100% / 12 * 5);
  float: left;
  padding-right: 70px;
  padding-left: 70px;
  font-family: "Segoe UI";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 16px;
  color: #c8c8c8;
}

.footer__bottom .warning {
  width: calc(100% / 12 * 4);
  float: left;
  font-family: "Segoe UI";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 17px;
  text-align: left;
  color: #c8c8c8;
}
/*# sourceMappingURL=style2.css.map */