@charset "UTF-8";
.hints {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hint__item {
  padding: 32px 30px;
  background: #EFF6FC;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.hint__item .number {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 82px;
  letter-spacing: -0.01em;
  line-height: 107px;
  color: #0078d4;
  margin-right: 25px;
}

.hint__item .title {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 21px;
  color: #333;
  margin-bottom: 5px;
  height: 42px;
  overflow: hidden;
}

.hint__item .subtitle {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 21px;
  color: #666;
  height: 42px;
  overflow: hidden;
}

.temp-job {
  padding-bottom: 131px;
}

.temp-job__questions .title {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: #3c3c3c;
  margin-bottom: 30px;
}

.temp-job__questions .list-group-item {
  padding: 0;
  border: none;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 23px;
  color: #008272;
  margin-bottom: 20px;
}

.temp-job__questions .list-group-item:hover {
  background: transparent;
}

.temp-job__form {
  border-right: 1px solid #D0D0D0;
  padding-right: 32px;
  margin-bottom: 32px;
}

.temp-job__form .title {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.01em;
  line-height: 42px;
  color: #333;
  margin-bottom: 20px;
}

.temp-job__form .range__rate {
  width: 100%;
  float: none;
  margin-bottom: 40px;
}

.temp-job__form .range__rate .right__label {
  float: right;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #767676;
}

.temp-job__form .range__rate .right__label > b {
  color: #212121;
  font-weight: 600;
}

.temp-job__form .range__rate label {
  display: inline-block;
}

.temp-job__form .range__slider {
  margin-bottom: 20px;
}

.temp-job__form .range__slider + .input-group .input-postfix {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  top: 0;
  right: 15px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #767676;
}

.temp-job__form .range__slider + .input-group .form-control {
  padding-right: 60px;
  background: #fff;
}

.temp-job__form .range__slider small {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: #0078d4;
}

.temp-job__form .sallary__value {
  margin-top: 20px;
}

.temp-job__form .sallary__value .text {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 22px;
  color: #767676;
  display: inline-block;
  margin-right: 12px;
}

.temp-job__form .sallary__value .value {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #0078d4;
  display: inline-block;
}

.temp-job__form .r_slider .irs-grid-pol {
  height: 20px;
  top: -27px;
  background: #C8C8C8;
  z-index: 5;
}

.temp-job__form .r_slider .irs-grid-pol:first-of-type {
  display: none;
}

.temp-job__form .r_slider .irs-grid-pol:last-of-type {
  display: none;
}

.temp-job__form .r_slider .irs-grid-text:last-of-type {
  display: none;
}

.temp-job__form .r_slider .irs-grid-text:first-of-type {
  display: none;
}

.temp-job__form .r_slider .irs-grid-pol.small {
  display: none;
}

.temp-job__form .r_slider .irs-handle {
  z-index: 10;
}

.temp-job__form .form__card {
  padding: 30px;
  border-radius: 20px;
  background: #F8F8F8;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.temp-job__form .form__card .form-group {
  margin-bottom: 30px;
}

.temp-job__form .form__card .form-group:last-child {
  margin-bottom: 0;
}

.temp-job__form .form__card .form-group:last-child .btn-forward {
  margin-bottom: 20px;
}

.temp-job__form .form__card .form-group:last-child .btn-back {
  margin-bottom: 20px;
}

.temp-job__form .form__card .form-group > label {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 42px;
  color: #333;
  margin-bottom: 20px;
}

.temp-job__form .form__card .form-group > label .btn-clipboard path {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.temp-job__form .form__card .form-group > label .btn-clipboard:hover svg path {
  fill: #E81123;
}

.temp-job__form .form__card .form-control {
  height: 50px;
  border-radius: 5px;
  background: white;
  border: 1px solid #D0D0D0;
  padding-right: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 64 64'%3E%3Cg id='Сгруппировать_10314' data-name='Сгруппировать 10314' transform='translate(11995 -15998)'%3E%3Crect id='Прямоугольник_13914' data-name='Прямоугольник 13914' width='64' height='64' transform='translate(-11995 15998)' fill='none'/%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M9.6-28a23.251,23.251,0,0,1,6.27.841,23.373,23.373,0,0,1,5.636,2.386,23.916,23.916,0,0,1,4.772,3.7,23.916,23.916,0,0,1,3.7,4.772,23.373,23.373,0,0,1,2.386,5.636,23.251,23.251,0,0,1,.841,6.27,23.251,23.251,0,0,1-.841,6.27A23.373,23.373,0,0,1,29.982,7.51a23.916,23.916,0,0,1-3.7,4.772,23.916,23.916,0,0,1-4.772,3.7,23.373,23.373,0,0,1-5.636,2.386,23.251,23.251,0,0,1-6.27.841,23.251,23.251,0,0,1-6.27-.841A23.373,23.373,0,0,1-2.3,15.982a23.916,23.916,0,0,1-4.772-3.7,23.916,23.916,0,0,1-3.7-4.772,23.373,23.373,0,0,1-2.386-5.636A23.251,23.251,0,0,1-14-4.4a23.251,23.251,0,0,1,.841-6.27A23.373,23.373,0,0,1-10.773-16.3a23.916,23.916,0,0,1,3.7-4.772,23.916,23.916,0,0,1,4.772-3.7,23.373,23.373,0,0,1,5.636-2.386A23.251,23.251,0,0,1,9.6-28ZM23.5-12.21l-3.135-3.135L5.179-.154-1.16-6.493-4.3-3.358,5.179,6.116Z' transform='translate(-11972.604 16034.396)' fill='%23a6a6a6'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
}

.temp-job__form .form__card .form-control.date {
  padding-left: 52px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 37.331 35'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M23.334-14H21v2.333h2.333Zm-7,14H14V2.333h2.333Zm-7-14H7v2.333H9.334Zm7,0H14v2.333h2.333Zm7,4.667H21V-7h2.333Zm7,0H28V-7h2.333Zm-21,0H7V-7H9.334Zm7,0H14V-7h2.333Zm7,4.667H21v2.333h2.333Zm7,0H28v2.333h2.333Zm-21,0H7v2.333H9.334Zm7,0H14v2.333h2.333Zm7,4.667H21V2.333h2.333Zm7,0H28V2.333h2.333ZM0-25.667V7H37.333V-25.667h-7V-28H28v2.333H9.334V-28H7v2.333Zm35,2.333v4.667H2.335v-4.667H7V-21H9.334v-2.333H28V-21h2.333v-2.333Zm-32.665,28v-21H35v21Z' transform='translate(-0.002 28)' fill='%230078d4'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

.temp-job__form .form__card .form-control.time {
  padding-left: 52px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 64 64'%3E%3Cg id='Сгруппировать_10669' data-name='Сгруппировать 10669' transform='translate(-1357 -1514)'%3E%3Crect id='Прямоугольник_13937' data-name='Прямоугольник 13937' width='64' height='64' transform='translate(1357 1514)' fill='none'/%3E%3Cpath id='Контур_15266' data-name='Контур 15266' d='M18,0a17.7,17.7,0,0,1-4.79-.642,18.242,18.242,0,0,1-4.3-1.811A17.875,17.875,0,0,1,5.265-5.265,17.875,17.875,0,0,1,2.452-8.912,18.2,18.2,0,0,1,.642-13.219,17.73,17.73,0,0,1,0-18a17.73,17.73,0,0,1,.642-4.781,18.2,18.2,0,0,1,1.811-4.307,17.875,17.875,0,0,1,2.813-3.647,17.875,17.875,0,0,1,3.647-2.812,18.2,18.2,0,0,1,4.307-1.811A17.73,17.73,0,0,1,18-36a17.73,17.73,0,0,1,4.781.642,18.2,18.2,0,0,1,4.307,1.811,17.875,17.875,0,0,1,3.647,2.813,17.875,17.875,0,0,1,2.813,3.647,18.2,18.2,0,0,1,1.811,4.307A17.73,17.73,0,0,1,36-18a17.7,17.7,0,0,1-.642,4.79,18.242,18.242,0,0,1-1.811,4.3,17.875,17.875,0,0,1-2.812,3.647,17.875,17.875,0,0,1-3.647,2.813A18.2,18.2,0,0,1,22.781-.642,17.73,17.73,0,0,1,18,0Zm0-33.75a15.437,15.437,0,0,0-4.175.563A15.751,15.751,0,0,0,10.063-31.6a15.87,15.87,0,0,0-3.19,2.47,15.87,15.87,0,0,0-2.47,3.19,15.751,15.751,0,0,0-1.591,3.762A15.437,15.437,0,0,0,2.25-18a15.437,15.437,0,0,0,.563,4.175A15.751,15.751,0,0,0,4.4-10.063a15.87,15.87,0,0,0,2.47,3.19,15.87,15.87,0,0,0,3.19,2.47,15.751,15.751,0,0,0,3.762,1.591A15.437,15.437,0,0,0,18-2.25a15.437,15.437,0,0,0,4.175-.562A15.751,15.751,0,0,0,25.937-4.4a15.87,15.87,0,0,0,3.19-2.47,15.87,15.87,0,0,0,2.47-3.19,15.751,15.751,0,0,0,1.591-3.762A15.437,15.437,0,0,0,33.75-18a15.437,15.437,0,0,0-.562-4.175A15.751,15.751,0,0,0,31.6-25.937a15.87,15.87,0,0,0-2.47-3.19,15.87,15.87,0,0,0-3.19-2.47,15.751,15.751,0,0,0-3.762-1.591A15.437,15.437,0,0,0,18-33.75ZM18-18V-29.25H15.75v13.5h9V-18Z' transform='translate(1371 1564)' fill='%230078d4'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

.temp-job__form .form__card .form-control::-webkit-input-placeholder {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #a6a6a6;
}

.temp-job__form .form__card .form-control:-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #a6a6a6;
}

.temp-job__form .form__card .form-control::-ms-input-placeholder {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #a6a6a6;
}

.temp-job__form .form__card .form-control::placeholder {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #a6a6a6;
}

.temp-job__form .form__card textarea.form-control {
  background: #fff;
  height: 110px;
  padding: 12px 20px;
}

.temp-job__form .form__card select.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 64 64'%3E%3Cg id='Сгруппировать_10663' data-name='Сгруппировать 10663' transform='translate(-896 -256)'%3E%3Crect id='Прямоугольник_13733' data-name='Прямоугольник 13733' width='64' height='64' transform='translate(896 256)' fill='none'/%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M16.084-27.791l1.582,1.582L0-8.543-17.666-26.209l1.582-1.582L0-11.707Z' transform='translate(928 307.167)' fill='%230078d4'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.temp-job__form .form__card .checkbox {
  margin-bottom: 20px;
}

.temp-job__form .form__card .table-form {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  vertical-align: middle;
}

.temp-job__form .form__card .table-form > label {
  display: table-cell;
  width: 146px;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #3c3c3c;
  vertical-align: middle;
}

.temp-job__form .form__card .table-form .cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.temp-job__form .form__card .table-form .phone {
  padding-left: 70px;
}

.temp-job__form .form__card .table-form .phone__prefix {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #a6a6a6;
}

.temp-job__form .form__card .btn {
  padding: 13px 150px 15px 150px;
  background: #0778D4;
  border-radius: 50px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #f8f8f8;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.temp-job__form .form__card .btn:hover {
  background: #055ca3;
}

.temp-job__form .form__card .btn:focus {
  outline: none;
}

.temp-job__form .form__card .btn-back {
  padding-left: 35px;
  padding-right: 35px;
  margin-right: 58px;
  background: transparent;
  border: 1px solid #A6A6A6;
  color: #767676;
}

.temp-job__form .form__card .btn-back:hover {
  background: transparent;
  border-color: #0778D4;
}

.temp-job__form .form__card .radio {
  display: block;
  margin-bottom: 20px;
}

.temp-job__form .form__card .radio input[type=radio]:checked + label {
  color: #212121;
}

.temp-job__form .form__card .radio > label {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #767676;
}

.temp-job__form .form__card .radio > label:before {
  content: '';
  border-color: #0078D4;
}

.temp-job__form .form__card .radio > label::after {
  background: #0078D4;
}

.temp-job .tooltip {
  padding: 12px 10px;
  background: #EFF6FC;
  border: 1px solid #C7E0F4;
  border-radius: 10px;
  -webkit-transform: translateX(calc(100% - 45px));
          transform: translateX(calc(100% - 45px));
}

.temp-job .tooltip .tooltip-inner {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 17px;
  color: #333;
  background: transparent;
}

.temp-job .tooltip .tooltip-arrow {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #EFF6FC;
  border-left: 1px solid #C7E0F4;
  border-bottom: 1px solid #C7E0F4;
  -webkit-transform: rotate(-45deg) translate(-50%, 25%);
          transform: rotate(-45deg) translate(-50%, 25%);
  position: absolute;
  bottom: 0;
}

.temp-job .file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.temp-job .file > label {
  border: 1px solid #0078D4;
  border-radius: 25px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #0078d4;
  padding: 10px 36px 10px 68px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 48 39'%3E%3Cpath id='Контур_15267' data-name='Контур 15267' d='M48-42V-6H0V-42H12.867l3-3H32.133l3,3Zm-3,3H33.867l-3-3H17.133l-3,3H3V-9H45ZM24-36a11.762,11.762,0,0,1,4.676.938A12.042,12.042,0,0,1,32.5-32.5a12.042,12.042,0,0,1,2.566,3.82A11.762,11.762,0,0,1,36-24a11.762,11.762,0,0,1-.937,4.676A12.042,12.042,0,0,1,32.5-15.5a12.042,12.042,0,0,1-3.82,2.566A11.762,11.762,0,0,1,24-12a11.762,11.762,0,0,1-4.676-.937A12.042,12.042,0,0,1,15.5-15.5a12.042,12.042,0,0,1-2.566-3.82A11.762,11.762,0,0,1,12-24a11.762,11.762,0,0,1,.938-4.676A12.042,12.042,0,0,1,15.5-32.5a12.042,12.042,0,0,1,3.82-2.566A11.762,11.762,0,0,1,24-36Zm0,21a8.647,8.647,0,0,0,3.492-.715,9.194,9.194,0,0,0,2.859-1.934,9.194,9.194,0,0,0,1.934-2.859A8.647,8.647,0,0,0,33-24a8.647,8.647,0,0,0-.715-3.492,9.194,9.194,0,0,0-1.934-2.859,9.194,9.194,0,0,0-2.859-1.934A8.647,8.647,0,0,0,24-33a8.647,8.647,0,0,0-3.492.715,9.194,9.194,0,0,0-2.859,1.934,9.194,9.194,0,0,0-1.934,2.859A8.647,8.647,0,0,0,15-24a8.647,8.647,0,0,0,.715,3.492,9.194,9.194,0,0,0,1.934,2.859,9.194,9.194,0,0,0,2.859,1.934A8.647,8.647,0,0,0,24-15ZM7.5-36a1.442,1.442,0,0,1,1.055.445A1.442,1.442,0,0,1,9-34.5a1.442,1.442,0,0,1-.445,1.055A1.442,1.442,0,0,1,7.5-33a1.442,1.442,0,0,1-1.055-.445A1.442,1.442,0,0,1,6-34.5a1.442,1.442,0,0,1,.445-1.055A1.442,1.442,0,0,1,7.5-36Z' transform='translate(0 45)' fill='%230078d4'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 36px 50%;
  cursor: pointer;
}

.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox input:checked + label {
  color: #212121;
}

.checkbox input:checked + label::before {
  border-color: #107C10;
}

.checkbox input:checked + label:after {
  content: '';
  height: 15px;
  width: 5px;
}

.checkbox label {
  padding-left: 40px;
  position: relative;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #767676;
}

.checkbox label::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #A6A6A6;
}

.checkbox label::after {
  content: none;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: 4px;
  left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 2px solid #107C10;
  border-right: 2px solid #107C10;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/*# sourceMappingURL=temp-job.css.map */