.faq {
    & .section__title {
        margin-bottom: 47px;
    }

    & .card {
        padding      : 48px 40px 77px 40px;
        background   : white;
        border-radius: 30px;
        box-shadow   : 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        margin-bottom: 48px;
        position     : relative;
    }

    & .small__card {
        padding        : 30px 38px 28px 38px;
        background     : #F8F8F8;
        display        : block;
        border-radius  : 20px;
        box-shadow     : 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        text-decoration: none;
        transition     : all 0.3s linear;
        margin-bottom  : 30px;

        &:hover {
            background: #EFF6FC;
        }

        &::after {
            content: '';
            display: block;
            clear  : both;
        }

        & .icon {
            padding-right: 20px;
            display      : table-cell;
            height       : 82px;
        }

        & .text {
            display       : table-cell;
            vertical-align: middle;
            font-family   : "Segoe UI";
            font-weight   : 600;
            font-size     : 20px;
            letter-spacing: -0.01em;
            color         : #333;
            white-space   : pre-line;
            text-transform: uppercase;
            height        : 82px;
            overflow      : hidden;
        }
    }

    & .center__svg {
        padding-top   : 90px;
        padding-bottom: 54px;
        padding-left  : 54px;
        padding-right : 54px;
        text-align    : center;
    }

    & .more__link {
        font-family   : "Segoe UI";
        font-weight   : 600;
        font-size     : 18px;
        letter-spacing: -0.01em;
        line-height   : 10px;
        color         : #333;
        padding-left  : 46px;
        position      : absolute;
        left          : 50%;
        bottom        : 105px;
        padding-top   : 5px;
        padding-bottom: 5px;
        display       : inline-block;
        transform     : translateX(-50%);

        &::before {
            content      : '';
            display      : block;
            position     : absolute;
            top          : 50%;
            transform    : translateY(-50%);
            left         : 0;
            width        : 36px;
            height       : 36px;
            border-radius: 50%;
            background   : #0078D4 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 31.906 29.406'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M31.906-16,17.2-1.3,15.8-2.7,28.094-15H0v-2H28.094L15.8-29.3,17.2-30.7Z' transform='translate(0 30.703)' fill='%23eff6fc'/%3E%3C/svg%3E%0A")no-repeat 50%;

        }
    }
}

.faqs-page {
    padding-top   : 38px;
    padding-bottom: 299px;

    & .section__title {
        font-family: "Segoe UI";
        font-weight: bold;
        font-size  : 24px;
        line-height: 17px;
        text-align : center;
        color      : #333;

    }

    & .nav {
        margin-bottom: 32px;

        &-item {
            margin-bottom: 10px;
            display      : table;
            width        : 100%;
        }

        &-link {
            display       : table-cell;
            vertical-align: middle;
            height        : 70px;
            padding       : 9px 20px 12px 20px;
            border-radius : 10px;

            border        : 1px solid #C8D5E3;
            color         : #3C3C3C;
            font          : normal normal 600 18px/25px "Segoe UI";
            padding-right : 44px;
            letter-spacing: -0.9px;
            background    : #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Сгруппировать_11004' data-name='Сгруппировать 11004' width='44' height='44' viewBox='0 0 88 88'%3E%3Crect id='Прямоугольник_13774' data-name='Прямоугольник 13774' width='88' height='88' fill='none'/%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M-7.914-40.5V-36h30.8L8.754-21.832l3.164,3.164L31.5-38.25,11.918-57.832,8.754-54.668,22.887-40.5Z' transform='translate(42.207 82.25)' fill='%230078d4'/%3E%3C/svg%3E")no-repeat calc(100% - 12px) 50%;

            &:hover {
                background: #EFF6FC url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Сгруппировать_11004' data-name='Сгруппировать 11004' width='44' height='44' viewBox='0 0 88 88'%3E%3Crect id='Прямоугольник_13774' data-name='Прямоугольник 13774' width='88' height='88' fill='none'/%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M-7.914-40.5V-36h30.8L8.754-21.832l3.164,3.164L31.5-38.25,11.918-57.832,8.754-54.668,22.887-40.5Z' transform='translate(42.207 82.25)' fill='%230078d4'/%3E%3C/svg%3E")no-repeat calc(100% - 12px) 50%;
            }
        }
    }

    & .panel {
        &-default {
            background   : white;
            border       : none;
            border-radius: 10px;
        }

        &-heading {
            // padding      : 23px 22px 20px 22px;
            padding      : 0;
            background   : white;
            border-radius: 10px;
            border       : 1px solid #0078D4;
        }

        &-title a {
            display        : block;
            padding        : 23px 55px 20px 55px;
            text-decoration: none;
            font           : normal normal 600 16px/23px 'Segoe UI';
            letter-spacing : 0px;
            color          : #333333;

            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='contact_support_black_24dp_1_' data-name='contact_support_black_24dp (1)' width='25.753' height='25.753' viewBox='0 0 50.753 50.753'%3E%3Cpath id='Контур_15673' data-name='Контур 15673' d='M0,0H50.753V50.753H0Z' fill='none'/%3E%3Cpath id='Контур_15674' data-name='Контур 15674' d='M21.032,48.771V41.158A20.093,20.093,0,1,1,42.179,21.09c0,10.468-7.275,21-18.123,26.222ZM22.09,5.229a15.86,15.86,0,1,0,0,31.721h3.172v4.864C32.959,36.95,37.95,28.956,37.95,21.09A15.866,15.866,0,0,0,22.09,5.229ZM19.975,29.549H24.2v4.229H19.975ZM24.2,26.376H19.975c0-6.873,6.344-6.344,6.344-10.574a4.229,4.229,0,1,0-8.459,0H13.631a8.459,8.459,0,1,1,16.918,0C30.549,21.09,24.2,21.618,24.2,26.376Z' transform='translate(2.229 1.115)' fill='%230078d4'/%3E%3C/svg%3E")no-repeat 22px 50%;
            position  : relative;

            &::before {
                content   : '';
                display   : block;
                position  : absolute;
                top       : 22px;
                right     : 22px;
                width     : 25px;
                height    : 25px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='expand_more_black_24dp-3' width='25.755' height='25.755' viewBox='0 0 50.755 50.755'%3E%3Cpath id='Контур_20' data-name='Контур 20' d='M0,50.755H50.755V0H0Z' fill='none'/%3E%3Cpath id='Контур_21' data-name='Контур 21' d='M28.4,24.261l-9.707-9.686L8.982,24.261,6,21.279,18.689,8.59,31.377,21.279Z' transform='translate(6.689 8.328)' fill='%230078d4'/%3E%3C/svg%3E")no-repeat 50%;
                transform : rotate(180deg);
                transition: all 0.3s linear;
            }

            &.collapsed {
                &::before {
                    transform: rotate(0);
                }
            }

        }

        &-body {

            padding       : 0 22px 20px 22px;
            font          : normal normal normal 16px/22px "Segoe UI";
            letter-spacing: -0.48px;
            color         : #333333;
        }
    }

    & .desktop-faq {
        display: none;
    }

    & .panel-group {
        display: block;
    }
}