// .header {
//     position: absolute;
//     top     : 0;
//     left    : 0;
//     right   : 0;


//     & .container {
//         position: relative;
//     }

//     &__logo {
//         float  : left;
//         display: block;
//         width  : 250px;

//         & .icon {
//             width     : 70px;
//             display   : table-cell;
//             object-fit: cover;

//             & img {
//                 width  : 100%;
//                 display: block;
//             }
//         }

//         & .name {
//             display          : table-cell;
//             height           : 82px;
//             vertical-align   : middle;
//             padding-left     : 10px;
//             // padding-right : 35%;

//             font-weight   : bold;
//             font-size     : 16px;
//             letter-spacing: -0.01em;
//             line-height   : 18px;
//             color         : #f8f8f8;
//             text-transform: uppercase;
//             padding-left  : 20px;
//             position      : relative;

//             &::before {
//                 content   : '';
//                 display   : block;
//                 width     : 2px;
//                 height    : 64px;
//                 position  : absolute;
//                 background: url('./../image/logo_flag.png')no-repeat 0 /cover;
//                 top       : 50%;
//                 left      : 10px;
//                 transform : translateY(-50%);
//             }
//         }
//     }

//     &__nav {
//         float: right;

//         & .nav {
//             height        : 82px;
//             vertical-align: middle;
//             display       : table-cell;
//             vertical-align: middle;

//             &-item {
//                 &.dropdown {
//                     &>.nav-link {
//                         background: transparent;
//                     }

//                     & .dropdown-menu {
//                         min-width: auto;
//                         width    : 100%;

//                         a {
//                             color  : #0078D4 !important;
//                             padding: 5px 10px;

//                             &:focus {
//                                 background: none;
//                             }
//                         }
//                     }
//                 }
//             }

//             &-link {
//                 padding       : 0.8vw 1.45vw;
//                 background    : none;
//                 font-weight   : normal;
//                 font-size     : 16px;
//                 letter-spacing: -0.02em;
//                 color         : #f8f8f8;

//                 &.register {
//                     border-radius: 0;
//                     border       : 2px solid #FFB900;
//                 }

//                 &:hover {
//                     background: none;

//                     & span.name {
//                         border-bottom: 2px solid #FFB900;
//                     }
//                 }

//                 &:focus {
//                     background: none;
//                 }
//             }


//         }

//         &.inner {
//             & .nav {
//                 & .nav-link {
//                     border-radius: 100px;
//                     outline      : 1px solid #fff;
//                     font-size    : 14px;
//                     color        : #fff;
//                     margin-right : 20px;
//                     padding      : 15px 38px;
//                     background   : transparent;
//                     z-index      : 2;

//                     &.rounded {
//                         width   : 50px;
//                         height  : 50px;
//                         outline : 1px solid #fff;
//                         padding : 0;
//                         position: relative;

//                         & span:first-child {
//                             position : absolute;
//                             top      : 50%;
//                             left     : 50%;
//                             transform: translate(-50%, -50%);
//                         }


//                     }

//                     & span {
//                         font-size     : 14px;
//                         font-weight   : normal;
//                         text-transform: initial;

//                         & svg {
//                             vertical-align: middle;
//                         }
//                     }

//                     &:hover {
//                         outline: 3px solid #FFB900;

//                         & span {
//                             border: none;
//                         }
//                     }
//                 }

//                 & .nav-item {
//                     position: relative;
//                     z-index : 1;

//                     &.active {
//                         // outline: 3px solid #FFB900;

//                         &::before {
//                             content         : none;
//                             display         : block;
//                             width           : 20px;
//                             height          : 20px;
//                             background      : #0078D4;
//                             // background   : red;
//                             position        : absolute;
//                             bottom          : -15px;
//                             left            : 50%;
//                             transform       : translateX(calc(-50% - 10px)) rotate(-45deg);
//                             z-index         : 1;
//                         }

//                         & .nav-link {
//                             outline: 3px solid #FFB900;

//                         }
//                     }
//                 }

//             }
//         }
//     }

//     & .mobile__btn {
//         // position: absolute;
//         // right   : 100%;
//         // top     : 25px;

//         & .btn {
//             background    : none;
//             padding-top   : 0;
//             padding-bottom: 0;

//             & img {
//                 transition: all 0.3s linear;
//             }

//             &:hover {
//                 img {
//                     transform: scale(1.2);
//                 }
//             }

//             &:focus {
//                 border    : none;
//                 outline   : none;
//                 box-shadow: none;
//             }
//         }
//     }

//     & .spec-view__btn {
//         // position: absolute;
//         // left    : 100%;
//         // top     : 25px;

//         & .btn {
//             background    : none;
//             padding-top   : 0;
//             padding-bottom: 0;

//             & img {
//                 transition: all 0.3s linear;
//             }

//             &:hover {
//                 img {
//                     transform: scale(1.2);
//                 }
//             }

//             &:focus {
//                 border    : none;
//                 outline   : none;
//                 box-shadow: none;
//             }
//         }
//     }


//     &.inner {
//         position  : relative;
//         top       : 0;
//         background: white;

//         .header__nav .nav-link {
//             text-transform: uppercase;
//             font-weight   : 700;

//             &.register {
//                 text-transform: inherit;
//                 font-weight   : normal;
//                 border-color  : white;
//             }
//         }

//         & .header__nav .nav {
//             &.on-mobile {
//                 display: none;
//             }
//         }

//     }

//     &__middle {
//         background    : url('./../image/banner.png')no-repeat 0 /cover;
//         padding-top   : 29px;
//         padding-bottom: 29px;
//     }

//     &__bottom {
//         // border-bottom: 1px solid #EAEAEA;


//         & .breadcrumb {
//             background    : none;
//             margin-bottom : 0;
//             padding       : 0;
//             float         : left;
//             display       : table;
//             padding-top   : 10px;
//             padding-bottom: 10px;

//             &-item {
//                 font-family   : "Segoe UI";
//                 font-weight   : normal;
//                 font-size     : 14px;
//                 letter-spacing: -0.02em;
//                 line-height   : 21px;
//                 color         : #767676;
//                 display       : table-cell;
//                 vertical-align: middle;
//                 height        : 38px;

//                 &+li::before {
//                     padding-right: 0;
//                 }

//                 &:first-child {
//                     & a {
//                         padding-left: 26px;
//                         background  : url('./../image/icon_home.svg') no-repeat 0 /15px;
//                     }
//                 }

//                 &.active {
//                     font-weight: 600;
//                 }
//             }

//             & a {
//                 font-family   : "Segoe UI";
//                 font-weight   : normal;
//                 font-size     : 14px;
//                 letter-spacing: -0.02em;
//                 line-height   : 21px;
//                 color         : #767676;

//             }
//         }

//         & .search {
//             float: right;

//             & .form-control {
//                 height: 44px;
//             }

//             &>.btn {
//                 background: transparent;
//                 border    : none;

//                 &:focus {
//                     background: none;
//                     border    : none;
//                     outline   : none;
//                     box-shadow: none;
//                 }

//                 & img {
//                     transition: all 0.3s linear;
//                 }

//                 &:hover {
//                     img {
//                         transform: scale(1.2);
//                     }
//                 }
//             }

//             & .dropdown-menu {
//                 padding      : 15px;
//                 min-width    : 20em;
//                 border-radius: 0;
//             }
//         }

//         & .nav {
//             & .nav-item {
//                 height      : 100%;
//                 margin-right: 16px;
//             }

//             & .nav-link {
//                 height        : 100%;
//                 padding-top   : 16px;
//                 padding-bottom: 16px;
//                 padding-left  : 0;
//                 padding-right : 0;
//                 border-bottom : 3px solid transparent;
//                 border-radius : 0;
//                 transition    : all 0.3s linear;

//                 span {
//                     font-size  : 18px;
//                     line-height: 24px;
//                     color      : #0078D4;
//                 }

//                 &:hover {
//                     background-color: transparent;
//                     border-bottom   : 3px solid #FFB900;
//                 }
//             }
//         }
//     }

//     &__top {
//         padding-top: 15px;
//         padding-bottom: 14px;

//         .nav {
//             &>li {
//                 padding-top      : 14px;
//                 padding-bottom   : 14px;
//                 margin-right     : 40px;
//                 position         : relative;
//                 // display       : inline-block;
//                 float            : right;
//                 margin-right     : 40px;


//                 &:first-child {
//                     margin-right: 0;

//                     &>a {
//                         padding-left: 0;
//                     }
//                 }

//                 &+li {
//                     margin-left: 0;
//                 }



//                 &>a {
//                     padding    : 0;
//                     font-size  : 16px;
//                     line-height: 21px;

//                     display       : table-cell;
//                     vertical-align: middle;
//                     padding-left  : 30px;
//                     color         : white;

//                     & span {
//                         transition   : border-bottom 0.3s linear;
//                         border-bottom: 2px solid transparent;
//                     }

//                     &:hover {
//                         background: none;

//                         & span {
//                             border-bottom: 2px solid #FFB900;
//                         }
//                     }

//                     & .icon {
//                         position : absolute;
//                         top      : 50%;
//                         left     : 0;
//                         transform: translateY(-50%);
//                     }
//                 }
//             }

//             &-lang {
//                 & .nav-link {
//                     border-bottom: 2px solid #FFB900;
//                     border-radius: 0;

//                     &:focus {
//                         background: none;

//                     }
//                 }
//             }
//         }

//         & .radio-inline {
//             padding-top   : 14px;
//             padding-bottom: 14px;
//             margin-right  : 40px;
//             margin-left   : 0;
//             color         : white;

//             &:last-child {
//                 margin-right: 0;
//             }

//             & input {
//                 position: absolute;
//                 opacity : 0;

//                 &:checked+label {
//                     color: white;
//                 }

//                 &:checked+label::before {
//                     border-color: #FFB900;
//                 }

//                 &:checked+label::after {
//                     content   : '';
//                     background: #FFB900;
//                 }
//             }

//             & label {
//                 margin-left  : 10px;
//                 cursor       : pointer;
//                 font-weight  : normal;
//                 color        : white;
//                 margin-bottom: 0;

//                 &::before {
//                     content      : '';
//                     display      : block;
//                     width        : 16px;
//                     height       : 16px;
//                     border-radius: 50%;
//                     position     : absolute;
//                     border       : 1px solid white;
//                     left         : 0;
//                     top          : 50%;
//                     transform    : translateY(-50%);
//                 }

//                 &::after {
//                     content      : none;
//                     display      : block;
//                     width        : 10px;
//                     height       : 10px;
//                     border-radius: 50%;
//                     background   : #707070;
//                     position     : absolute;
//                     top          : 50%;
//                     left         : 3px;
//                     transform    : translateY(-50%);
//                 }
//             }
//         }

//         & .dropdown-menu {
//             min-width: auto;

//             & a {
//                 font-size  : 16px;
//                 line-height: 21px;
//                 color      : #0078D4;
//             }
//         }
//     }


// }

.header {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 10;

    .nav .open>a {
        background: transparent;
    }

    &.inner {
        position: relative;

        & .header__top {
            padding: 0;
        }

        & .header__middle {
            background: url('./../image/intro_bg.png')no-repeat 0/cover;
        }

        & .header__quick-nav .nav a {
            color: #0078D4;
        }

        & .header__quick-nav .nav a .icon svg path {
            fill: #0078D4;
        }

        & .header__checkbox .radio label {
            color: #0078D4;
        }

        .header__checkbox .radio label::before {
            border-color: #0078D4;
        }

        .header__checkbox .radio label::after {
            background: #0078D4;
        }

        .header__middle.inner .header__nav .nav li.rounded>a {
            height       : 50px;
            width        : 50px;
            padding      : 0;
            border-radius: 50%;

            & .icon {
                left     : 50%;
                transform: translate(-50%, -50%);
            }
        }

        .header__middle.inner .dropdown-menu {
            border-radius : 10px;
            left          : 50%;
            transform     : translateX(-50%);
            padding-top   : 0;
            padding-bottom: 0;
        }

        .header__middle.inner .dropdown-menu::before {
            background-color: #DEECF9;
        }

        .header__middle.inner .dropdown-menu-title {
            padding                : 5px 11px;
            background             : #DEECF9;
            border-top-left-radius : 10px;
            border-top-right-radius: 10px;
            color                  : #0078D4;
            font-weight            : 600;
            position               : relative;
            z-index                : 100;
        }

        .header__middle.inner .dropdown-menu .dropdown-item {
            width          : 100%;
            display        : block;
            color          : #333333;
            padding        : 5px 10px;
            text-decoration: none;
            font-weight    : 400;
            font-family    : "Segoe UI";
            font-weight    : normal;
            font-size      : 14px;
            letter-spacing : -0.01em;
            line-height    : 16px;
            color          : #333;

            &:last-child {
                border-radius: 10px;
            }
        }

        .header__middle.inner .header__nav .nav li {
            padding-right: 20px;
        }


        .header__middle.inner .header__nav .nav li>a {
            border-radius : 50px;
            text-transform: initial;
            font-weight   : 400;
            padding       : 13px 26px 13px 58px;
            outline       : 2px solid #71AFE5;
            border        : none;
            transition    : all 0.3s linear;

            &:hover {
                outline: 2px solid #FFB900;
                border : none;
            }

            &:focus {
                background    : transparent;
                outline-offset: 0;
            }

            & .icon {
                position : absolute;
                top      : 50%;
                transform: translateY(-50%);
                left     : 33px;

                & svg {
                    vertical-align: middle;
                }
            }
        }
    }

    &__select {
        float: left;

        & .form-control {
            border        : none;
            color         : #3C3C3C;
            font-family   : "Segoe UI";
            font-weight   : normal;
            font-size     : 16px;
            letter-spacing: -0.02em;
            color         : #3c3c3c;
            margin-top    : 5px;
            box-shadow    : none;
            appearance    : none;
            padding-left  : 32px;
            padding-right : 24px;
            background    : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 64 64'%3E%3Cg id='Сгруппировать_10629' data-name='Сгруппировать 10629' transform='translate(-896 -367)'%3E%3Crect id='Прямоугольник_13736' data-name='Прямоугольник 13736' width='64' height='64' transform='translate(896 367)' fill='none'/%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M3.75-36a14.683,14.683,0,0,1,3.984.539,15.215,15.215,0,0,1,3.586,1.512,14.933,14.933,0,0,1,3.035,2.344A14.933,14.933,0,0,1,16.7-28.57a15.215,15.215,0,0,1,1.512,3.586A14.683,14.683,0,0,1,18.75-21a12.027,12.027,0,0,1-.387,3.082A15.2,15.2,0,0,1,17.25-15L3.75,12-9.75-15a15.2,15.2,0,0,1-1.113-2.918A12.027,12.027,0,0,1-11.25-21a14.683,14.683,0,0,1,.539-3.984A15.215,15.215,0,0,1-9.2-28.57a14.933,14.933,0,0,1,2.344-3.035A14.933,14.933,0,0,1-3.82-33.949,15.215,15.215,0,0,1-.234-35.461,14.683,14.683,0,0,1,3.75-36ZM14.906-16.172q0-.023.012-.023t.012-.023a10.179,10.179,0,0,0,.891-2.32,10.11,10.11,0,0,0,.3-2.461,11.978,11.978,0,0,0-.973-4.8,12.557,12.557,0,0,0-2.66-3.937A12.557,12.557,0,0,0,8.555-32.4a11.978,11.978,0,0,0-4.8-.973,11.978,11.978,0,0,0-4.8.973,12.557,12.557,0,0,0-3.938,2.66A12.558,12.558,0,0,0-7.652-25.8,11.978,11.978,0,0,0-8.625-21a10.11,10.11,0,0,0,.3,2.461,10.179,10.179,0,0,0,.891,2.32q0,.023.012.023t.012.023L3.75,6.141ZM3.75-29.813a8.588,8.588,0,0,1,3.434.691,8.892,8.892,0,0,1,2.8,1.887,8.892,8.892,0,0,1,1.887,2.8A8.588,8.588,0,0,1,12.563-21a8.588,8.588,0,0,1-.691,3.434,8.892,8.892,0,0,1-1.887,2.8,8.892,8.892,0,0,1-2.8,1.887,8.588,8.588,0,0,1-3.434.691,8.588,8.588,0,0,1-3.434-.691,8.892,8.892,0,0,1-2.8-1.887,8.892,8.892,0,0,1-1.887-2.8A8.588,8.588,0,0,1-5.062-21a8.588,8.588,0,0,1,.691-3.434,8.892,8.892,0,0,1,1.887-2.8,8.892,8.892,0,0,1,2.8-1.887A8.588,8.588,0,0,1,3.75-29.813Zm0,15a6.081,6.081,0,0,0,2.414-.48,6.2,6.2,0,0,0,1.969-1.324,6.2,6.2,0,0,0,1.324-1.969A6.081,6.081,0,0,0,9.938-21a6.081,6.081,0,0,0-.48-2.414,6.2,6.2,0,0,0-1.324-1.969,6.2,6.2,0,0,0-1.969-1.324,6.081,6.081,0,0,0-2.414-.48,6.081,6.081,0,0,0-2.414.48A6.2,6.2,0,0,0-.633-25.383a6.2,6.2,0,0,0-1.324,1.969A6.081,6.081,0,0,0-2.437-21a6.081,6.081,0,0,0,.48,2.414A6.2,6.2,0,0,0-.633-16.617a6.2,6.2,0,0,0,1.969,1.324A6.081,6.081,0,0,0,3.75-14.812Z' transform='translate(923.939 410.502)' fill='%230078d4'/%3E%3C/g%3E%3C/svg%3E%0A")no-repeat 0/32px,
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 48 48'%3E%3Cg id='Сгруппировать_10241' data-name='Сгруппировать 10241' transform='translate(11827 -12618)'%3E%3Crect id='Прямоугольник_13869' data-name='Прямоугольник 13869' width='48' height='48' transform='translate(-11827 12618)' fill='none'/%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M10.723-18.527l1.055,1.055L0-5.7-11.777-17.473l1.055-1.055L0-7.8Z' transform='translate(-11803 12654.111)' fill='%230078d4'/%3E%3C/g%3E%3C/svg%3E%0A")no-repeat 100% 50%/24px;

            &:focus {
                box-shadow: none;
            }
        }
    }

}

.header__top {
    padding-top   : 5px;
    padding-bottom: 4px;
}

.header__middle {
    padding-top   : 28px;
    padding-bottom: 28px;


}

.header__logo {
    width          : 250px;
    height         : 97px;
    display        : table;
    float          : left;
    text-decoration: none;

    & .icon {
        display       : table-cell;
        vertical-align: middle;
        padding-right : 13px;
    }

    & .text {
        display       : table-cell;
        vertical-align: middle;
        font-family   : "Segoe UI";
        font-weight   : 600;
        font-size     : 18px;
        letter-spacing: -0.01em;
        line-height   : 20px;
        text-align    : left;
        color         : #f8f8f8;
        padding-left  : 13px;
        padding-right : 25%;
        margin-left   : 13px;
        text-transform: uppercase;
        position      : relative;

        &::before {
            content            : '';
            display            : block;
            width              : 2px;
            height             : 64px;
            position           : absolute;
            top                : 50%;
            left               : 0;
            transform          : translateY(-50%);
            background-image   : url("data:image/svg+xml,%3Csvg id='Сгруппировать_9839' data-name='Сгруппировать 9839' xmlns='http://www.w3.org/2000/svg' width='4' height='128' viewBox='0 0 4 128'%3E%3Crect id='Прямоугольник_13502' data-name='Прямоугольник 13502' width='4' height='40' transform='translate(0 0)' fill='%234ba1eb'/%3E%3Crect id='Прямоугольник_13503' data-name='Прямоугольник 13503' width='4' height='40' transform='translate(0 88)' fill='%231da01d'/%3E%3Crect id='Прямоугольник_13504' data-name='Прямоугольник 13504' width='4' height='40' transform='translate(0 44)' fill='%23fff'/%3E%3Crect id='Прямоугольник_13505' data-name='Прямоугольник 13505' width='4' height='4' transform='translate(0 84)' fill='%23e81123'/%3E%3Crect id='Прямоугольник_13506' data-name='Прямоугольник 13506' width='4' height='4' transform='translate(0 40)' fill='%23e81123'/%3E%3C/svg%3E%0A");
            background-repeat  : no-repeat;
            background-position: 0;
            background-size    : cover;
        }
    }

    &:hover {
        text-decoration: none;
    }

}

.header__nav {
    float: right;

    & .nav {
        li {
            height        : 97px;
            display       : table-cell;
            vertical-align: middle;
            float         : none;
            padding-right : 40px;

            &.mobile_button {
                padding-right: 0;
            }

            &.mobile_button button {
                background: transparent;
                border    : none;
                transition: all 0.3s linear;
            }

            &.mobile_button button:hover {
                border-color: transparent;
                transform   : scale(1.2);
            }
        }

        a {
            color         : white;
            font-family   : "Segoe UI";
            font-weight   : bold;
            font-size     : 16px;
            letter-spacing: -0.01em;
            text-align    : left;
            color         : #f8f8f8;
            text-transform: uppercase;
            border-radius : 0;
            padding-left  : 0;
            padding-right : 0;
            padding-bottom: 5px;
            padding-top   : 5px;
            border-bottom : 3px solid transparent;
            transition    : all 0.3s linear;



            &:hover {
                background  : transparent;
                border-color: #FFB900;
            }
        }

        & .dropdown-menu {
            border-radius : 10px;
            left          : 50%;
            transform     : translateX(-50%);
            top           : calc(100% - 20px);
            box-shadow    : 0 8px 8px rgba($color: #000000, $alpha: 0.3);
            padding-top   : 0;
            padding-bottom: 0;
            border        : 1px solid #C7E0F4;
            min-width     : 245px;

            &::before {
                content      : '';
                display      : block;
                height       : 23px;
                width        : 23px;
                border-radius: 5px;
                background   : white;
                position     : absolute;
                top          : -26px;
                left         : 50%;
                transform    : rotate(-45deg) translateX(calc(-50% - 12px));
                border       : 1px solid #C7E0F4;
            }
        }

        & a.dropdown-item {
            padding        : 11px 16px;
            font-family    : "Segoe UI";
            font-weight    : 400;
            font-size      : 18px;
            letter-spacing : -0.01em;
            line-height    : 18px;
            color          : #3C3C3C;
            display        : block;
            text-transform : initial;
            white-space    : nowrap;
            text-decoration: none;
            background     : white;
            position       : relative;
            z-index        : 2;
            transition     : all .4s ease-in-out;

            &:first-child {
                border-top-left-radius : 10px;
                border-top-right-radius: 10px;
            }

            &:last-child {
                border-bottom-left-radius : 10px;
                border-bottom-right-radius: 10px;
            }

            &:hover {
                color       : #0078D4;
                border-color: transparent;
                font-weight : 600;

            }
        }
    }


}

.header__checkbox {
    float: left;
}

.radio {
    display     : inline-block;
    margin-right: 40px;
    position    : relative;

    input {
        opacity : 0;
        position: absolute;
        left    : 0;
        top     : 0;
        z-index : -1;

        &:checked+label {
            color: white;
        }

        &:checked+label::before {
            border-color: #FFB900;
        }

        &:checked+label::after {
            content   : '';
            background: #FFB900;
        }
    }

    & label {
        color       : white;
        position    : relative;
        padding-left: 26px;

        &::before {
            content      : '';
            display      : block;
            width        : 16px;
            height       : 16px;
            position     : absolute;
            left         : 0;
            top          : 50%;
            transform    : translateY(-50%);
            border       : 2px solid white;
            border-radius: 50%;
        }

        &::after {
            content      : none;
            display      : block;
            width        : 8px;
            height       : 8px;
            position     : absolute;
            top          : 50%;
            left         : 4px;
            background   : #FFB900;
            transform    : translateY(-50%);
            border-radius: 50%;
        }
    }
}

.header__quick-nav {
    float: right;

    & .nav {
        li {
            margin-right: 40px;

            &.dropdown {
                & a {
                    background: transparent;
                }

                & .dropdown-item {
                    color          : #666;
                    padding-left   : 30px;
                    font-family    : "Segoe UI";
                    font-weight    : normal;
                    font-size      : 16px;
                    letter-spacing : -0.02em;
                    text-align     : left;
                    text-decoration: none;
                    display        : block;
                    padding        : 0.25em 0.75em;
                    border-bottom  : 2px solid transparent;
                    transition     : all 0.3s linear;

                    &:hover {
                        border-bottom: 2px solid #FFB900;
                    }
                }

                & .dropdown-menu {
                    padding-top   : 0;
                    padding-bottom: 0;
                    min-width     : auto;
                }
            }

            &.spec_view {
                padding     : 10px;
                text-align  : center;
                margin-right: 0;

                & a:hover {
                    border: none;
                }

                &.icon {
                    position: relative;
                }
            }
        }

        a {
            padding       : 10px;
            color         : white;
            position      : relative;
            padding-left  : 30px;
            font-family   : "Segoe UI";
            font-weight   : normal;
            font-size     : 16px;
            letter-spacing: -0.02em;
            text-align    : left;
            color         : #f8f8f8;
            border-bottom : 3px solid transparent;
            border-radius : 0;
            transition    : all 0.3s linear;

            &:hover {
                background  : transparent;
                border-color: #FFB900;
            }

            & .icon {
                position: absolute;

                top      : 50%;
                transform: translateY(-50%);
                left     : 0;

                & svg {
                    vertical-align: middle;
                }
            }
        }
    }
}

.header__bottom {
    padding-top   : 12px;
    padding-bottom: 12px;
    border        : 1px solid #EAEAEA;

    & .breadcrumb {
        padding-left       : 26px;
        float              : left;
        margin-bottom      : 0;
        background         : none;
        background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 29.406 27.422'%3E%3Cpath id='Fabric_Icons' data-name='Fabric Icons' d='M16-29.422,30.7-14.7,29.3-13.3,28-14.578V-2H18V-12H14V-2H4V-14.578L2.7-13.3,1.3-14.7ZM26-4V-16.578l-10-10-10,10V-4h6V-14h8V-4Z' transform='translate(-1.297 29.422)' fill='%230078d4'/%3E%3C/svg%3E%0A");
        background-position: 0 50%;
        background-repeat  : no-repeat;
        margin-bottom      : 0;

        &>.active {
            font-weight: 600;
            color      : #767676;
        }

        & a {
            background: none;
            color     : #767676;

        }
    }

    & .nav {
        float: right;

        & li {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        & a {
            padding       : 3px 15px;
            font-family   : "Segoe UI";
            font-weight   : normal;
            font-size     : 18px;
            letter-spacing: -0.02em;
            color         : #0078d4;
            border-bottom : 2px solid transparent;
            border-radius : 0;
            transition    : all 0.4s linear;
            padding-left  : 0;
            padding-right : 0;

            &:hover {
                background   : transparent;
                border-bottom: 2px solid #FFB900;

            }

            & svg {
                vertical-align: middle;
            }
        }
    }
}


.mobile__nav {
    position  : absolute;
    top       : 0;
    left      : -100%;
    width     : 100%;
    height    : 100vh;
    background: #2B88D8;
    z-index   : 25;
    transition: all 0.5s linear;

    &.show {
        left: 0;
    }

    &-header {
        padding-top   : 14px;
        padding-bottom: 14px;

        & .nav {
            float: right;

            & li {
                display: table-cell;
                float  : none;
                padding: 11px 22px;

                & .btn {
                    transform : scale(1);
                    transition: all 0.5s linear;
                }

                &:hover {
                    & .btn {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &::after {
            content: '';
            display: block;
            clear  : both;
        }

        & .btn {
            background    : transparent;
            font-family   : "Segoe UI";
            font-weight   : normal;
            font-size     : 16px;
            letter-spacing: -0.01em;
            color         : #f8f8f8;
            padding       : 0;

            &:focus {
                outline: none;

                box-shadow: none;
            }

            & svg {
                vertical-align: middle;
            }
        }
    }

    &-body {
        padding-left : 126px;
        padding-right: 126px;
        margin       : 0 auto;

        & .nav-title {
            font-family   : "Segoe UI";
            font-weight   : 700;
            font-size     : 18px;
            letter-spacing: -0.02em;
            line-height   : 41px;
            text-align    : left;
            color         : #004578;

        }

        & .nav {
            li {}

            a {
                font-family   : "Segoe UI";
                font-weight   : normal;
                font-size     : 16px;
                letter-spacing: -0.02em;
                text-align    : left;
                color         : #f4f4f4;
                padding-left  : 0;
                padding-right : 0;
                transform     : translateX(0);
                transition    : all 0.3s linear;

                &:hover {
                    background: transparent;
                    transform : translateX(10px);
                }
            }
        }

        & .nav-with-icon {


            & li {
                margin-bottom: 21px;
            }

            & a {
                padding-top   : 10px;
                padding-bottom: 10px;
                padding-left  : 35px;
                padding-right : 20px;
                transition    : all 0.3s linear;
                transform     : translateX(0);

                &:hover {
                    transform: translateX(10px);
                }

                & .icon {
                    position : absolute;
                    top      : 50%;
                    left     : 0;
                    transform: translateY(-50%);
                }
            }
        }

        & .nav-link-border {
            padding        : 16px 25px 16px 52px;
            text-decoration: none;
            color          : white;
            position       : relative;
            display        : inline-block;
            border         : 2px solid #FFB900;
            margin-top     : 40px;
            margin-bottom  : 40px;
            transform      : translateX(0);
            transition     : all 0.3s linear;

            &:hover {
                transform: translateX(10px);
            }

            & .icon {
                position : absolute;
                top      : 50%;
                left     : 26px;
                transform: translateY(-50%);

                & svg {
                    vertical-align: middle;
                }
            }
        }
    }
}