@media (min-width: 1921px) {
    .header__nav .nav-link {
        padding: 16px 28px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1296px;

        &.bigger {
            width: 1326px;
        }

        &.extra-big {
            width: 1632px;
        }
    }


}

@media (min-width: 991px) {
    .no-desktop {
        display: none !important;
    }

    .ten-columns>.col-md-2 {
        width: 20%;
    }

    .faqs-page .desktop-faq {
        display: block;
    }

    .faqs-page .panel-group {
        display: none;
    }
}

@media (max-width:1346px) {
    .header__middle .mobile__button {
        right: 100%;
    }

    .header__middle .spec-view__button {
        left: 100%;
    }

    .header__middle .navbar .logo {
        float : none;
        margin: 0 auto;
    }

    .header__middle .navbar .nav {
        width     : 100%;
        text-align: center;
    }

}

@media (max-width: 1200px) {
    .header__top .container {
        text-align: right;
    }

    // .header__checkbox,
    // .header__quick-nav {
    //     float: none;
    // }

    .header__quick-nav {
        display: inline-block;
    }

    .header__bottom {
        padding-top: 0;
    }

    .no-tab {
        display: none !important;
    }

    .no-desktop {
        display: none !important;
    }

    // .header.inner .header__logo {
    //     float: none;
    // }

    .header.inner .header__nav .nav li:not(.rounded) {
        display: none;
    }

    .header.inner .header__nav .nav li.rounded {
        display: table-cell;
    }

    .header__nav .nav {
        height : auto;
        display: inline-block;
    }

    .v-page .row-right-divider::before {
        width : 100%;
        height: 1px;
        top   : auto;
        bottom: -20px;
    }

    .page-blog .row-right-divider::before {
        width : 100%;
        height: 1px;
        top   : auto;
        bottom: -20px;
    }

    .v-page .simple-card {
        max-width: 100%;
    }

    .v-page .card-links,
    .v-page .similar_v {
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .header__logo {
        width: auto;
    }

    .header__quick-nav .nav li {
        margin-right: 30px;
    }

    .header__quick-nav .nav li .text {
        display: none;
    }

    .header__quick-nav .nav li.mobile_button button {
        background: transparent;
        border    : none;
    }

    .header__logo .text {
        display: none;
    }

    .header__nav .nav li {
        padding-right: 20px;
        height       : initial;
    }

    .header__middle .navbar .nav {
        display   : block;
        float     : none;
        text-align: left;
        height    : 0;
        position  : relative;
        opacity   : 0;
        top       : -100%;
        transform : translateY(-20px);
        transition: all 0.3s linear;

        &.show {
            transform: translateY(0);

            position: relative;
            height  : 100%;
            opacity : 1;
            z-index : 1;
        }

        &-item {
            padding-top   : 16px;
            padding-bottom: 16px;
            display       : block;
        }
    }

    .header__middle .mobile__button {
        right: auto;
        left : 0
    }

    .header__middle .spec-view__button {
        left : auto;
        right: 0;
    }

    .vacancies__tab .tab-content .owl-item {
        width: 176px !important;
    }

    .no-mobile {
        display: none !important;
    }

    .tips__title {
        margin-top   : 95px;
        margin-bottom: 21px;
        padding-right: 100px;
    }

    .tips__subtitle {
        padding-right: 35%;
    }

    .tips-carousel .item {
        background: rgba($color: #004578, $alpha: 0.5);
    }

    .tips-carousel.owl-carousel .owl-stage {
        padding-left: 0 !important;
    }

    .useful-links_carousel.owl-carousel .owl-stage {
        padding-left: 0 !important;
    }

    .footer__nav .nav__item {
        width: 100%;
    }

    .footer__bottom .copyright {
        width        : 100%;
        margin-bottom: 30px;
    }

    .footer__bottom .info {
        width        : 100%;
        padding-left : 0;
        margin-bottom: 30px;
        padding-right: 114px;
    }

    .footer__bottom .warning {
        width        : 100%;
        padding-right: 114px;
    }

    .footer {
        padding-bottom: 84px;
    }

    .page-blog .banner__title {
        padding-right: 0;
    }

    .on-tab {
        display: block !important;
    }

    .intro .mobile__tab {
        display: block;
    }

    .temp-job__form .form__card select.form-control {
        margin-bottom: 32px;
    }

    .temp-job__form .form__card .form-control.date {
        margin-bottom: 32px;
    }


    .faq .more__link {
        bottom: 50px;
    }

    .header__middle {
        padding-top   : 0;
        padding-bottom: 0;
    }

    .header__top .container {
        text-align: left;
    }

    // .header__middle .header__nav {
    //     display: none;
    // }
    .intro {
        min-height: 369px;
    }

    .intro .statistic {
        margin-top: 36px;
    }
}

@media (max-width: 776px) {
    .header__nav .nav {
        display: block;
    }

    .header {
        top                 : 0;
        // padding-top   : 5px;
        // padding-bottom: 5px; 
        // border-bottom    : 1px solid #0078D4;
        background          : #0078D4;
        z-index             : 25;
    }

    .vacancies__tab .search__form .input_setting-btn {
        right: 140px;
    }

    .vacancies__tab .search__form .input__btn .btn .text {
        display: none;
    }


    // .header__top {
    //     display: none;
    // }

    .header__nav .nav li {
        padding-left: 20px;
        height      : 97px;
    }

    .header__middle {
        padding      : 0;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.56);
    }

    .header__nav {
        padding-right: 0;
    }

    .header__middle .header__nav .nav li {
        display: none;
    }

    .header__logo .text {
        display: none;
    }

    .header.inner .header__top,
    .header.inner .header__bottom {
        display: none;
    }

    .header.inner .header__middle {
        padding-top   : 0;
        padding-bottom: 0;
        background    : #0078D4;
    }

    .header.inner .header__nav {
        // display      : none;
        padding-right: 74px;
    }


    .header .mobile__btn {
        right : 0;
        top   : 0;
        width : 74px;
        height: 100%;
    }

    .header__logo {
        padding-top   : 5px;
        padding-bottom: 5px;
        width         : 55px;
    }

    .header__logo .name {
        height : 74px;
        display: none;
    }

    .header__logo .icon {
        width: 64px;
    }

    .header .mobile__btn .btn {
        // display       : table-cell;
        vertical-align: middle;
        height        : 100%;
        width         : 74px;
        background    : #2B88D8;
        border-radius : 0;
    }

    .header__nav.inner .nav .nav-item.active::before {
        content: '';
    }

    .intro .tab-form {
        padding-top: 30px;
    }

    .main_nav {
        position             : absolute;
        left                 : -100%;
        top                  : 0;
        // transform      : translateX(-100%);
        transition           : all 0.3s linear;
        display              : block;
        min-height           : 100vh;
        z-index              : 0;
        width                : 100%;
        background           : rgba($color: #2B88D8, $alpha: 1);
        padding-top          : 109px;
        // padding-top       : 21px;
        z-index              : 100;
        opacity              : 0;
        box-shadow           : 0 3px 99px rgba($color: #000000, $alpha: 0.2);
        backdrop-filter      : blur(32px);
    }

    .main_nav .nav {
        // padding-right: 22px;
        // padding-left : 22px;
        margin-bottom: 30px;
        width        : 216px;
    }

    .main_nav .nav .dropdown.open .nav-link {
        background: none;
    }

    .main_nav .nav .dropdown-menu .nav-link {
        color  : #0078D4;
        padding: 3px 20px;
    }

    .main_nav .nav .nav-item {
        display      : block;
        float        : none;
        padding      : 0;
        text-align   : left;
        margin-bottom: 15px;
    }

    .main_nav .nav .nav-title {
        margin-bottom : 21px;
        font-weight   : bold;
        font-size     : 18px;
        letter-spacing: -0.02em;
        line-height   : 20px;
        color         : #004578;

    }

    .main_nav .nav .nav-link {
        text-align    : left;
        text-transform: initial;
        font-weight   : normal;
    }

    .main_nav .nav .nav-link.register {
        border-radius: 0;
        border       : 2px solid #FFB900;
        padding      : 16px 25px;
        font-size    : 14px;
        display      : inline-block;
    }

    .main_nav .nav:last-of-type .nav-item {
        margin-bottom: 21px;
    }

    .main_nav.show {
        // transform: translateX(0);
        left   : 0;
        z-index: 100;
        opacity: 1;

    }

    #vacancies__tab-slider>div {
        display: inline-block;

        &:nth-child(1) .card {
            background: #EDF8E9;
        }

        &:nth-child(2) .card {
            background: #F3F3F3;
        }

        &:nth-child(3) .card {
            background: #FEF0F1;
        }

        &:nth-child(4) .card {
            background: #FFF5EA;
        }

        &:nth-child(5) .card {
            background: #EFF6FC;
        }

        &:nth-child(6) .card {
            background: #EDF8E9;
        }
    }

    .vacancies__tab .tab-content .card {
        margin-right : 0;
        padding      : 8px 20px;
        border-radius: 5px;
        box-shadow   : 0 3px 6px rgba($color: #000000, $alpha: 0.16);

    }

    .vacancies__tab .tab-content .card .icon {
        display: none;
    }

    .vacancies__tab .tab-content .card .name {
        font-family   : "Segoe UI";
        font-weight   : normal;
        font-size     : 18px;
        letter-spacing: -0.01em;
        color         : #0078d4;
        height        : initial;
        text-transform: unset
    }

    .on-mobile {
        display: block !important;
    }

    .intro .statistic {
        display: none;
    }

    // .vacancies__tab .tab-content {
    //     background: transparent;
    // }

    .intro {
        padding-top   : 104px;
        padding-bottom: 30px;
        background    : #0078D4;
        min-height    : 403px;
        display       : none;
    }

    .vacancies__section {
        padding-top   : 100px;
        padding-bottom: 0;
    }

    .intro .tab-form .nav-tabs.nav-justified>li {
        display: table-cell;
        width  : 1%;
    }

    .vacancies__tab .nav-tabs.nav-justified>li {
        display: none;
    }

    .vacancies__tab {
        top       : 0;
        box-shadow: none;
    }

    .no-padding {
        padding: 0 !important;
    }

    .no-padding-left {
        padding-left: 0 !important;
    }

    .no-padding-right {
        padding-right: 0 !important;
    }

    .type-slider {
        padding-left: 0;
    }


    .main_nav .login-link {
        display: block;
    }

    .main_nav .js_close_main-nav {
        display: block;
    }

    .page-blog .blog-content,
    .page-blog .blog__link {
        padding-right: 0;
    }

    .page-blog .blog-content .video {
        margin-bottom: 0;
    }

    .page-blog .banner {
        padding-left : 52px;
        padding-right: 52px;
    }

    .list__vacancies__item .salary {
        float: none;
    }

    .list__vacancies__item .organization__logo {
        position     : relative;
        transform    : none;
        margin-left  : 15px;
        margin-bottom: 7px;
    }

    .list__filters {
        position        : fixed;
        z-index         : 20;
        background-color: white;
        box-shadow      : 0 0px 99px rgba($color: #000000, $alpha: 0.6);
        top             : 72px;
        left            : -120%;
        width           : 100%;
        padding         : 20px;
        transition      : all 0.3s linear;
    }

    .filter__header {
        position        : fixed;
        top             : 0;
        left            : -120%;
        width           : 100%;
        background-color: white;
        padding         : 20px;
        z-index         : 21;
        transition      : all 0.3s linear;

    }

    .filter__header.open {
        left: 0;
    }

    .list__filters.open {
        left: 0;
    }

    .list__vacancies__item .date_view {
        float: none;
    }

    .list__content .filter_mobile_btn {
        display: inline-block;
    }

    .v-page .v-card .organization__logo {
        position     : relative;
        transform    : none;
        top          : auto;
        right        : auto;
        margin-bottom: 7px;
    }

    .v-page .simple-card {
        background-position: 50% 35px;
    }

    .v-page .simple-card .card-body {
        width        : 100%;
        padding-right: 0;
        padding-top  : 222px;
    }

    .v-page .card-links {
        order: 2;
    }

    .v-page .similar_v {
        order         : 1;
        padding-bottom: 30px;
    }

    .simple-card {
        padding-top        : 222px;
        background-position: 50% 35px;
    }

    .simple-card .card-body {
        width        : 100%;
        padding-right: 0;
    }

    .register__title {
        display: block;
    }

    .simple-card.step-1,
    .simple-card.step-2 {
        margin-bottom: 40px;
    }



    .header.inner .header__nav.inner {
        display: block;
    }

    .header.inner .header__nav.inner .nav-link {
        display: none;
    }

    .header.inner .header__nav.inner .nav-link.rounded {
        display: inline-block;
    }

    .header.inner .header__nav.inner {
        float        : right;
        margin-top   : 13px;
        padding-right: 64px;
    }

    .header.inner .header__nav {
        padding: 0;
    }


    .header.inner .header__nav.inner .nav {
        display: block;
    }

    .header.inner .header__nav {
        margin-top: 0;
    }

    .header.inner .header__nav .nav.on-mobile {
        display: block;
        float  : right;


    }

    .header.inner .header__nav .nav.on-mobile .nav-item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    .header.inner .header__nav .nav.on-mobile .nav-link {
        display       : table-cell;
        height        : 72px;
        vertical-align: middle;
        text-transform: initial;
        font-weight   : normal;
        padding-left  : 39px;

        & span:first-child {
            position : absolute;
            top      : 50%;
            left     : 0;
            transform: translateY(-40%);
        }
    }

    .list__info .__header {
        margin-bottom: 20px;
    }

    .list__header .btn-find span.text {
        display: none;
    }

    .no-padding-right-mobile {
        padding-right: 0;
    }

    .no-padding-left-mobile {
        padding-left: 0;
    }

    .v-page .v-card {
        padding-right: 0;
    }

    .v-page .v-card .request span {
        margin-bottom: 10px;
        display      : block;
    }

    .list__header .btn-find {
        position: relative;

        &:focus {
            outline: none;
            border : none;
        }
    }

    .list__header .btn-find svg {
        position : absolute;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);

    }

    .temp-job__form .form__card .form-group:last-child .btn-back {
        position: relative;
        top     : 82px;
    }

    .temp-job__form .form__card .form-group:last-child .btn-forward {
        position     : relative;
        top          : -62px;
        padding-left : 13px;
        padding-right: 13px;
        display      : block;
        width        : 100%;
    }

    .vacancies__tab .tab-content,
    .vacancies__latest {
        border-radius: 0;
        margin-bottom: 0;
    }

    .vacancies__latest .vacancy__info {
        margin-right   : 0;
        // width       : 387px !important;  
    }

    // .header__top {
    //     padding: 0;
    // }

    .header__select-white {
        display: none;
    }

    .header__quick-nav {
        position : absolute;
        top      : 50%;
        right    : 0;
        transform: translateY(-50%);
    }

    .header__quick-nav .nav li {
        display: none;
    }

    .header__quick-nav .nav a .icon {
        left     : 50%;
        transform: translate(-50%, -50%);
    }

    .header__quick-nav .nav .icon {
        position : absolute;
        left     : 50%;
        top      : 50%;
        transform: translate(-50%, -50%);
    }

    .header__quick-nav .nav li.mobile_button {
        display: block;
    }

    .header .search__button {
        margin-right: 30px;
    }

    .vacancies__benefits {
        padding-top   : 0;
        padding-bottom: 0;
    }

    .vacancies__latest {
        box-shadow: none;
    }

    .tips-n {
        padding-bottom: 0;

    }

    .tips-n .container {
        padding-left : 0;
        padding-right: 0;
    }

    .tips-n .card {
        border-radius: 0;
        box-shadow   : none;
        background   : #deecf9;
    }

    .employers__card {
        border-radius: 0;
        box-shadow   : none;
        margin-bottom: 0;
        background   : #deecf9;

    }

    .faq .card {
        border-radius: 0;
        box-shadow   : none;
        margin-bottom: 0;
        background   : #deecf9;

    }

    .employers__section {
        padding-bottom: 0;
    }

    .vacancies__tab .tab-content,
    .vacancies__latest {
        background: #deecf9;
    }
}

@media (max-width: 558px) {

    .header__top {
        padding: 0;
    }

    .section__title {
        text-align: left;
    }

    .vacancies__benefits .benefit__item {
        padding: 45px 0;
    }

    .vacancies__tab .tab-content {
        border-radius: 0;
        padding      : 40px 15px;
        margin-bottom: 0;
    }

    .employers__card .employers__item {
        margin-right: 0;
    }

    .vacancies__latest {
        border-radius: 0;
        padding      : 15px 11px 30px 11px;
        margin-bottom: 32px;

    }

    .employers__card {
        padding      : 15px 11px 30px 11px;
        margin-top   : 0;
        border-radius: 0;
        box-shadow   : none;
        margin-bottom: 0;

        &:nth-child(2) {
            box-shadow: none;
            background: #DEECF9;

            & .useful-links__item {
                background: white;
            }
        }
    }

    .tips__title {
        padding-right: 55px;
    }

    .vacancies__latest .vacancy__info {
        margin-right: 0;
    }

    .list__vacancies__item .date_view {
        float: none;
    }

    // .v-page .simple-card {
    //     background-position: calc(100% + 69px) 50%
    // }

    .v-page .simple-card .card-body {
        width        : 100%;
        padding-right: 0;
    }

    .resume-info .block .nav-pills li {
        float: none;
    }

    .resume-info .block .simple-card {
        padding: 15px;
    }

    .resume-info .block .simple-card .__title {
        padding-right: 0;
    }

    .resume-info .block .simple-card .__desc {
        padding-right: 130px;
    }

    .resume-info .block .simple-card .interest {
        right: 15px;
    }


    .pagination li {
        margin-right: 0;
    }

    .intro .statistic {
        position  : fixed;
        top       : 0;
        left      : 0;
        display   : block;
        background: #0078D4 url('./../image/intro_bg.png')no-repeat 50% 0/cover;
        width     : 100%;
        height    : 100vh;
        z-index   : 20;
        transition: all 0.3s linear;
    }

    .intro .statistic.hiden {
        transform: translateY(-200%);
    }

    .intro .statistic .item {
        padding   : 18px 35px;
        text-align: center;
    }

    .intro .statistic .item .icon {
        display: block;
        margin : 0 auto;
    }

    .intro .statistic__logo {
        display: block;
        margin : 0 auto;
    }

    .intro .statistic .swipe__btn {
        display: inline-block;
    }


    .intro .statistic .item .info {
        display: inline-block;
    }

}

@media (max-width: 376px) {
    .header.inner .header__nav .nav.on-mobile .nav-item {
        float: none;
    }

    .header.inner .header__nav {
        margin-top: 6px;
    }

    .header.inner .header__nav .nav.on-mobile .nav-link {
        // display: block;
        height: auto;
    }
}