.resume-forma {
    padding-top   : 145px;
    padding-bottom: 145px;
    background    : #EFF6FC;
    min-width     : 100vh;

    & .forma {
        background: white;
        padding   : 75px 84px 0 84px;

        &__header {
            padding-bottom: 36px;
            border-bottom : 2px solid #0078D4;

            &::after {
                content: '';
                display: block;
                clear  : both;
            }

            &--title {
                float  : left;
                display: table;

                & .icon {
                    display      : table-cell;
                    padding-right: 15px;
                }

                & .name {
                    display       : table-cell;
                    vertical-align: middle;
                    padding-right : 50%;
                    padding-left  : 15px;
                    text-transform: uppercase;
                    font-family   : "Segoe UI";
                    font-weight   : 600;
                    font-size     : 20px;
                    letter-spacing: -0.01em;
                    line-height   : 23px;
                    color         : #3c3c3c;
                    position      : relative;

                    &::before {
                        content            : '';
                        display            : block;
                        width              : 2px;
                        height             : 80px;
                        position           : absolute;
                        top                : 50%;
                        left               : 0;
                        transform          : translateY(-50%);
                        background-image   : url("data:image/svg+xml,%3Csvg id='Сгруппировать_10641' data-name='Сгруппировать 10641' xmlns='http://www.w3.org/2000/svg' width='2.5' height='80' viewBox='0 0 5.006 160.188'%3E%3Crect id='Прямоугольник_13502' data-name='Прямоугольник 13502' width='5.006' height='50.059' transform='translate(0 0)' fill='%234ba1eb'/%3E%3Crect id='Прямоугольник_13503' data-name='Прямоугольник 13503' width='5.006' height='50.059' transform='translate(0 110.129)' fill='%231da01d'/%3E%3Crect id='Прямоугольник_13504' data-name='Прямоугольник 13504' width='5.006' height='50.059' transform='translate(0 55.065)' fill='%23fff'/%3E%3Crect id='Прямоугольник_13505' data-name='Прямоугольник 13505' width='5.006' height='5.006' transform='translate(0 105.123)' fill='%23e81123'/%3E%3Crect id='Прямоугольник_13506' data-name='Прямоугольник 13506' width='5.006' height='5.006' transform='translate(0 50.059)' fill='%23e81123'/%3E%3C/svg%3E%0A");
                        background-position: 0;
                        background-size    : cover;
                    }
                }


            }

            &--id {
                float  : right;
                display: table;

                & .text {
                    display: table-cell;
                }

                & .qr {
                    display     : table-cell;
                    padding-left: 26px;
                }
            }

        }

        &__body {
            & .basic__info {
                padding-top   : 41px;
                padding-bottom: 30px;

                & .image {
                    float: left;
                }

                & .info {
                    padding-left  : 222px;
                    font-family   : "Segoe UI";
                    font-weight   : normal;
                    font-size     : 20px;
                    letter-spacing: -0.01em;
                    color         : #212121;

                    &>* {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                & .name {
                    font-family   : "Segoe UI";
                    font-weight   : bold;
                    font-size     : 45px;
                    letter-spacing: -0.01em;
                    line-height   : 42px;
                    color         : #333;
                    margin-bottom : 25px;
                }

                &::after {
                    content: '';
                    display: block;
                    clear  : both;
                }
            }

            & .section {


                &__title {
                    font-family   : "Segoe UI";
                    font-weight   : bold;
                    font-size     : 20px;
                    letter-spacing: -0.01em;
                    line-height   : 42px;
                    color         : #a6a6a6;
                    text-align    : left;
                    border-bottom : 1px solid #A6A6A6;

                }

                & .job__title {
                    font-family   : "Segoe UI";
                    font-weight   : bold;
                    font-size     : 30px;
                    letter-spacing: -0.01em;
                    line-height   : 40px;
                    color         : #212121;
                    width         : 50%;
                    float         : left;
                    margin-top    : 20px;
                }

                & .salary {
                    float     : right;
                    margin-top: 28px;
                }

                & .tags {
                    padding-top   : 20px;
                    padding-bottom: 20px;
                }

                & .tag__item {
                    font-family   : "Segoe UI";
                    font-weight   : normal;
                    font-size     : 16px;
                    letter-spacing: -0.01em;
                    color         : #0078d4;
                    padding       : 8px 20px;
                    border-radius : 25px;
                    border        : 1px solid #0078d4;
                    display       : inline-block;
                    margin-right  : 10px;
                }

                & .about {
                    font-family   : "Segoe UI";
                    font-weight   : 300;
                    font-size     : 20px;
                    letter-spacing: -0.01em;
                    color         : #212121;
                    margin-bottom : 30px;

                    & b {
                        color: #0078D4;
                    }
                }

                & .table__row {
                    font-family   : "Segoe UI";
                    font-weight   : normal;
                    font-size     : 20px;
                    letter-spacing: -0.01em;
                    line-height   : 30px;
                    text-align    : left;
                    color         : #666;

                    & .cell {
                        display: table-cell;
                        padding: 23px 35px 30px 35px;

                        &:first-child {
                            width       : 205px;
                            padding-left: 0;
                        }

                        & .title {
                            font-family   : "Segoe UI";
                            font-weight   : bold;
                            font-size     : 30px;
                            letter-spacing: -0.01em;
                            line-height   : 40px;
                            color         : #212121;
                            margin-bottom : 5px;
                        }

                        & .subtitle {
                            font-family   : "Segoe UI";
                            font-weight   : 600;
                            font-size     : 24px;
                            letter-spacing: -0.01em;
                            color         : #212121;
                            margin-bottom : 9px;
                        }

                        & .desc {
                            font-family   : "Segoe UI";
                            font-weight   : normal;
                            font-size     : 20px;
                            letter-spacing: -0.01em;
                            color         : #212121;

                        }
                    }

                    & .checkbox label::after {
                        top: 7px;
                    }
                }
            }
        }

        &__footer {
            border-top    : 1px solid #A6A6A6;
            padding-top   : 12px;
            padding-bottom: 34px;
            font-family   : "Segoe UI";
            font-weight   : normal;
            font-size     : 16px;
            letter-spacing: -0.01em;
            line-height   : 32px;
            color         : #a6a6a6;

            & a {
                font-weight: bold;
                color      : #a6a6a6;

            }
        }
    }

}